// Basic Resets____________________________________________________
.m0       {margin: 0px; }
.m0child *{margin: 0px; }
.p0       {padding: 0px;}
.mp0      {margin: 0px; padding: 0px;}
.b0       {border: none;}