// COLOR Variables________________________________________________
$c-main:        #21C2F8;
$c-main-dark:   #34495E;
$c-main-light:  #A1B1BC;
$c-sec:         #1ABC9C;
$c-grey:        #ECF0F1;
$c-black:       #222533;
$c-white:       #ffffff;
$c-logo:        #2C3E50;
$c-deco:        #414E5C;

// TEXT colors_________________________________________________
%txt-dark           {   color: $c-main-dark      }
%txt-light          {   color: $c-main-light     }
%txt-sec            {   color: $c-sec            }
%txt-white          {   color: $c-white          }
%txt-logo           {   color: $c-logo           }
.txt-dark           {   @extend %txt-dark ;      }
.txt-light          {   @extend %txt-light ;     }
.txt-sec            {   @extend %txt-sec ;       }
.txt-white          {   @extend %txt-white ;     }
.txt-logo           {   @extend %txt-logo ;     }

// BACKGROUND colors___________________________________________
%bck-main           {   background-color: $c-main           }
%bck-main-dark      {   background-color: $c-main-dark      }
%bck-main-light     {   background-color: $c-main-light     }
%bck-sec            {   background-color: $c-sec            }
%bck-grey           {   background-color: $c-grey           }
%bck-black          {   background-color: $c-black          }
%bck-white          {   background-color: $c-white          }
%bck-deco           {   background-color: $c-deco          }
.bck-main           {   @extend %bck-main ;      }
.bck-main-dark      {   @extend %bck-main-dark ; }
.bck-main-light     {   @extend %bck-main-light ;}
.bck-sec            {   @extend %bck-sec ;       }
.bck-grey           {   @extend %bck-grey ;      }
.bck-black          {   @extend %bck-black ;     }
.bck-white          {   @extend %bck-white ;     }
.bck-deco           {   @extend %bck-deco ;      }