//COLOR List
$colors:(
    'main':        #21C2F8,
    'main-dark':   #34495E,
    'main-light':  #A1B1BC,
    'main-black':  #222533,
    'sec':         #1ABC9C,
    'grey':        #ECF0F1,
    'grey30':      rgba(236, 240, 241, 0.3),
    'black':       #171D22,
    'white':       #ffffff,
    'logo':        #2C3E50,
    'deco':        #414E5C,
    'border':      #405060
);

@each $name,$value in $colors{

    //text color extension
    %txt-#{$name}{color: $value;}

    //text color class
    .txt-#{$name}{
        color: $value;
    }

    //background color extension
    %bck-#{$name}{background-color: $value;}

    //background color class
    .bck-#{$name}{
        background-color: $value;
    }
    
}