// Icons ELEGANT<<_______________________________________________
@font-face {
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class*='icon-']{
	font-family: 'ElegantIcons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
// Icon Classes
.icon-facebook:before   {content: "\e093";}
.icon-twitter:before    {content: "\e094";}
.icon-tumblr:before     {content: "\e097";}
.icon-instagram:before  {content: "\e09a";}
.icon-dribbble:before   {content: "\e09b";}
.icon-vimeo:before      {content: "\e09c";}
.icon-linkedin:before   {content: "\e09d";}
.icon-rss:before        {content: "\e09e";}
.icon-search:before     {content: "\55";  }
// Icons ELEGANT>>_______________________________________________

// FONTS Variables________________________________________________
$font-main: 'Lato', sans-serif;
$font-base-size: 14;

    // FONT Sizes______________
    %f-13   {   font-size: 13/$font-base-size+rem;      }
    %f-14   {   font-size: 14/$font-base-size+rem;      }
    %f-15   {   font-size: 15/$font-base-size+rem;      }
    %f-16   {   font-size: 16/$font-base-size+rem;      }
    %f-18   {   font-size: 18/$font-base-size+rem;      }
    %f-20   {   font-size: 20/$font-base-size+rem;      }
    %f-24   {   font-size: 24/$font-base-size+rem;      }
    %f-30   {   font-size: 30/$font-base-size+rem;      }
    %f-36   {   font-size: 35.69/$font-base-size+rem;   }
    .f-13   {   @extend %f-13 ;   }
    .f-14   {   @extend %f-14 ;   }
    .f-15   {   @extend %f-15 ;   }
    .f-16   {   @extend %f-16 ;   }
    .f-18   {   @extend %f-18 ;   }
    .f-20   {   @extend %f-20 ;   }
    .f-24   {   @extend %f-24 ;   }
    .f-30   {   @extend %f-30 ;   }
    .f-36   {   @extend %f-36 ;   }

    // FONT Weights_____________
    %f-regular {    font-weight: 400;   }
    %f-bold    {    font-weight: 700;   }
    %f-black   {    font-weight: 900;   }
    .f-regular {    @extend %f-regular ;}
    .f-bold    {    @extend %f-bold ;   }
    .f-black   {    @extend %f-black ;  }

    // Align_________________
    .txt-left       {   text-align     : left;      }
    .txt-right      {   text-align     : right;     }
    .txt-center     {   text-align     : center;    }
    .txt-justify    {   text-align     : justify;   }

