// Container Class
.masonry {
  display: flex;
  flex-flow: column wrap;
  max-height: 220rem;
  align-items: center;
  overflow: hidden;
  }
// Item Class
.masonry-item {
  @extend %bck-white;
  display: inline-block;
  width: 100%;
  border: 1px solid map-get($colors, 'grey');
  max-width: 32%;
  margin:0.5rem;
}

.media {
  display: block;
  width: 100%;
  height: auto;
  min-height: 250px;
}