
// XL___base_____________________________________________________________________________
// L_____________________________________________________________________________________
@media (max-width: 1199.98px) {
    .container{margin: 0 4vw;}
    .masonry {column-count: 2; column-gap: 3vw; padding: 0 5vw;}
}

// M_____________________________________________________________________________________
@media (max-width: 991.98px) {
    .container{margin: 0 3vw;}
    .masonry {column-gap: 2vw; padding:0;}
}

// S_____________________________________________________________________________________
@media (max-width: 767.98px) {
    .container{margin: 0 2vw;}
    .masonry {column-count: auto; padding: 0 10vw;}
}

// XS_____________________________________________________________________________________
@media (max-width: 575.98px) {
    .masonry {padding: 0;}
}