@import 'modules/_fonts';
@import 'modules/_colors';
@import 'modules/_boxmodel';

// INITIALIZE____________________________________________
@import 'modules/_reset';
// Masonry____________________________________________
@import 'modules/_masonry';


//HEADER________________________________________________
#topbar{

    form{
        flex-grow: 1;
    }

    button{
        border: 1px solid #ECF0F1;
        border-radius: 3px;
        padding: 0.5rem;
        padding-right: 0.7rem;
        margin: 0.625rem 0;


        svg{
            fill: #1ABC9C;
            margin-right: 0.5rem;
        }
    }

    ul{
        margin: 0 3rem;

        li{
            padding: 0 0.1rem;
        }
    }
}

#decoheader{
    width: 100%;
    height: 1px;
    opacity: 0.1;
}

#nav{
    &::before{
        content: '';
        display: block;
        width: 2rem;
        height: 0.25rem;
        margin: 0 auto 1.25rem;
        @extend %bck-sec;
    }

    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    padding-bottom: 1.5rem;

    #logo{
        span:last-of-type{
            margin-left: -0.7rem;
        }
    }

    nav{
        flex-grow: 1;
        margin-right: 3rem;
        margin-left: 0.5rem;

        a:hover{
            @extend %txt-sec;
            color: map-get($colors, 'sec');
        }
    }

}

#title{
    margin-top: 1rem;
}

#breadcrumb{
    .fa{
        margin: auto 1.5rem;
    }
}

//SECTION________________________________________________
main>div{
    padding-top: 6rem;
    padding-bottom: 3.5rem;
}

section{
    padding: 1.25rem;
    margin: 1rem;

    header{

        &::after{
            content: '';
            display: block;
            height: 1px;
            @extend %bck-grey;
        }
    }

    p{
        line-height: 1.5rem;
    }

    .btn{
        margin: 2rem 0;

        a{
            letter-spacing: 0.15rem;
            padding: 0.75rem;
            border-radius: 3px;

            &:hover{
                @extend %bck-sec;
            }
        }
    }

    footer{

        &::before{
            content: '';
            display: block;
            height: 1px;
            @extend %bck-grey;
        }

        &::after{
            content: '';
            display: block;
            height: 1px;
            @extend %bck-grey;
        }
    }

}

// Slider__________________________________________________
.slider{
    position: relative;

    div{
        &:nth-of-type(2){
            position: absolute;
            top: 1rem;
            right: 1.1rem;
        }

        &:nth-of-type(3), &:nth-of-type(4){
            border-radius: 2px;
            position: absolute;
            top: 50%;

            span{
                margin: 0.5rem 0.625rem;
            }
        }

        &:nth-of-type(3){
            left: -0.125rem;
        }

        &:nth-of-type(4){
            right: -0.125rem;
        }
    }
}
// Text only_______________________________________________
.textonly{
    h2{
        margin-top: 0;
    }

    &:hover{
        @extend %bck-logo;
        border-color: #405060;
        h2{
            @extend %txt-white;
        }
    }
}
    
// Audio Player____________________________________________
.audioplayer{
    height: 90px;
    padding: 30px;
    align-items: center;
    user-select: none;
    progress {
        appearance: none;
        border: none;
        height: 13px;
        position: relative;
        top: -1px;

        &.audio-timeline{
            width: 75px;
            &::-moz-progress-bar {@extend %bck-main-dark;}
            &::-webkit-progress-bar {@extend %bck-main-dark;}
        }
        &.audio-volumeline{
            width: 50px;
            &::-moz-progress-bar {background-color: #00FFCD;}
            &::-webkit-progress-bar {background-color: #00FFCD;}
        }
      }
}
// NAV BOTTOM____________________________________________
#navbottom{ padding-top: 100px; padding-bottom: 30px; border-top: 1px solid #ECF0F1;  }
.btn-navbottom{
    border-radius: 5px;
    margin-left: 10px;
    a{  display: block; width: 50px; height: 50px; text-align: center; @extend %txt-white;
        span    {   display: block; padding: 18px 0px;  }
        &:hover{
            border-radius: 5px;
            @extend %bck-main-dark;
            @extend %txt-sec;
        }
    }
}
.icon-home{
    background-image: url(/media/Icons/home.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-home:hover{
    background-image: url(/media/Icons/home2.svg);
}
// FOOTER________________________________________________
#footerTop{
    padding: 100px 0px;
    a{  @extend %txt-white;
        &:hover {  @extend %txt-sec;    }
    }
}
#footerDown{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding:    22px 0px;
    ul      { flex: 0 18%;          }
    a:hover { @extend %txt-white;   }
    p       { padding-top: 8px;     }
}
.footer-sec{
    flex: 0 24%;
    hr{ border:0; height: 1px; background-color: rgba(255, 255, 255, 0.3);
        &:nth-child(2) { height: 3px; width: 70px; @extend %bck-sec; margin: auto 0px;  }
    }
}